<!DOCTYPE html>
<html lang=en>
    <head>
        <meta charset=utf-8>
        <meta http-equiv=X-UA-Compatible content="IE=edge">
        <meta name=viewport content="width=device-width,initial-scale=1">
        <link rel=icon href=/favicon.ico>
        <title>SRS RECEIVING</title>
        <link href='/css/app.b4e765b7.css' rel=preload as=style>
        <link href='/js/app.587083d2.js' rel=preload as=script>
        <link href='/js/chunk-vendors.6a11c7ff.js' rel=preload as=script>
        <link href='/css/app.b4e765b7.css' rel=stylesheet>
    </head>
    <body>
        <noscript><strong>We're sorry but api_main_receiving doesn't work properly without JavaScript enabled. Please enable it to continue.</strong></noscript>
        <div id=app></div>
        <script>window.url = '{{APP_URL}}/api/'</script>
        <script src='/js/chunk-vendors.6a11c7ff.js'>
        </script>
        <script src='/js/app.587083d2.js'></script>
    </body>
    </html>