# Node modules
node_modules
public/scanned_invoice/
Weighing Scale
config/database.js
# Adonis directory for storing tmp files
tmp

# Environment variables, never commit this file
.env

# The development sqlite file
database/development.sqlite
